<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input typ="text" [(ngModel)]="title">
  <h1>
    Welcome to {{title}}!
  </h1>
  <app-servers></app-servers>
</div>

